@import "tailwindcss";
html::-webkit-scrollbar {
  background-color: var(--accent);
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #35afa0;
  --fontcolor: #3e445a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ffffff;
    --primary: #35afa0;
    --fontcolor: #ffffff;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-fontcolor: var(--fontcolor);
}
@layer theme, base, components, utilities;

@plugin 'tailwind-scrollbar';

@layer utilities {
  .bg {
    &.background {
      background-color: var(--color-background);
    }
    &.foreground {
      background-color: var(--color-foreground);
    }
    &.primary {
      background-color: var(--color-primary);
    }
  }

  .text {
    &.foreground {
      color: var(--color-foreground);
    }
    &.primary {
      color: var(--color-primary);
    }
    &.muted {
      color: var(--color-muted);
    }
    &.fontcolor {
      color: var(--color-fontcolor);
    }
  }

  .arrow-right-move:hover {
    transform: translateX(0px);
    transition: transform 0.5s;
    animation: moveright 0.5s infinite linear;
  }
  .arrow-left-move:hover {
    transform: translateX(0px);
    transition: transform 0.5s;
    animation: movelift 0.5s infinite linear;
  }
}
@keyframes moveright {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes movelift {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-10px);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--fontcolor);
  font-size: 12px;
}

.register-image {
  animation: moveup 1.5s infinite linear alternate;
  transform: translateY(0px);
  filter: hue-rotate(0deg);
}

@keyframes moveup {
  0%,
  100% {
    transform: translateY(10px);
    filter: hue-rotate(45deg);
  }
  50% {
    transform: translateY(0px);
    filter: hue-rotate(0deg);
  }
}

select {
  outline: none;
  border: none;
}

.progress_persentage::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #d51243, #ffcd00);
  clip-path: polygon(50% 50%, 0 0, 100% 0);
}
